<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dataprocessing">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.ProcessingActivity2"
            android:label="最小二乘法"></activity>
        <activity
            android:name=".activity.Input_LSActivity"
            android:label="数据输入" />
        <activity
            android:name=".activity.MainActivity"
            android:label="物理实验助手">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Input_UncertaintyActivity"
            android:label="数据输入" />
        <activity
            android:name=".activity.ProcessingActivity"
            android:label="@string/second_step" />
    </application>

</manifest>